body{
    margin: 0;
}

header{
    background-color: aqua;
    height: 100px;
}

h1{
    text-align: center;
}

article{
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

footer{
    text-align: center;
    background-color: aqua;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap ;
    justify-content: center;
    justify-content: flex-start;

}