body {
    font-family: 'Times New Roman', Times, serif;
    margin: *;
    padding: *;
}

nav{
    display: inline;
    float: right;
}

h1{
    display: inline;
}

.main {
    display: flex;
    margin: 5px;

}

.left{
    flex: 55%;
}

.right{
    flex: 25%;
    padding: 30px;
}

img{
    margin-top: 4rem;
    display: block;
}

